/*:root -> 获取根元素html*/
:root {
  /* 定义变量 */
  --color-text: #666;
  --color-high-text: #ff0130;
  --color-tint: #f5143d;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5rem;
}



/** color */
// $colors:(a,b,c) // list
// $colors:(a:1,b:2,c:3) //map
$colors:("primary": #db9e3f,
  "info": #4b67af,
  "blue": #4394e4,
  "blue-1": #1f3694,
  "white": #fff,
  "white-1": #fcfcfc,
  "white-2": #eceef0,
  "light": #f9f9f9,
  "light-1": #d4d9de,
  "grey": #999,
  "grey-1": #666,
  "dark-1": #343440,
  "dark": #222,
  "danger": #791a17,
  "black": #000,
);

/** border-color */
$border-color: map-get($colors, 'light-1');


/** text font */
$base-font-size:1rem;
// xxs:8px xs:10px sm:12px md:13px lg:14px xl:16px
$font-sizes:(xxs:0.6154,
  xs: 0.7692,
  sm: 0.9231,
  md: 1,
  lg:1.0769,
  xl: 1.2308,
);


/** flex 布局 */
$flex-jc:(start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around);
$flex-ai:(start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch);


/** spaing */
//.mt-1 => margin top level 1
$spacing-base-size: 1rem;
$spacing-types:(m: margin, p: padding);
$spacing-directions:(t: top, r: right, b: bottom, l: left);
$spacing-sizes:(0: 0, 1: 0.25, 2: 0.5, 3: 1, 4: 1.5, 5: 3);