@font-face {
  font-family: "moba";
  /* Project id 2863311 */
  src: url('//at.alicdn.com/t/font_2863311_kawfhbpo19.woff2?t=1647772325945') format('woff2'),
    url('//at.alicdn.com/t/font_2863311_kawfhbpo19.woff?t=1647772325945') format('woff'),
    url('//at.alicdn.com/t/font_2863311_kawfhbpo19.ttf?t=1647772325945') format('truetype');
}

.moba {
  font-family: "moba" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-back:before {
  content: "\e600";
}

.ico-more:before {
  content: "\e606";
}

.ico-hero:before {
  content: "\e62b";
}

.ico-news:before {
  content: "\e673";
}